p{
    color: red;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.jk{
    color: blueviolet;
    background-color: burlywood;
}
body{
    background-color: whitesmoke;
}
#rr{
    color: greenyellow;
}
div{
    height: 300px; 
    width: 300px;
    background-color: yellow;
    border: 4px double black;
    padding: 10px; 
    margin-left: 50px;
}