.box1{
    border: 10px solid black;
    margin: 100px;
    padding: 10px;

}
.box2{
    height: 150px;
    width: 750px;
    text-align: center;
    font-size: 25px;
    background-color: yellow;
    color: black;
    border: 20px solid blue;
    margin-left: 150px;
    padding-top: 75px;
}

