*{
    margin: 0px;
    padding: 0px;
}
.container{
    /* display: flex; */
    border: 2px solid black;
    height: 200px;
    width: 800px;
    margin: 150px;
    padding: 40px;
    
    display: flex ;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* gap: 10px 30px; */
    gap: 10px;

    
    
    
}
.item{
    /* height: 25px;
    width: 60px; */
    background-color: darkgray;
    color: black;
    
}