.container{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    

}

.box{
    border: 8px solid white;
    margin-bottom: 40px;
    width: 300px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    
    text-align: center;
    border-radius: 20px;
     box-shadow : 0px 2px 8px black;
}
.circle{
    border-radius: 50%;
    background-color:   #007bff;
    height: 90px;
    width: 90px;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 10px;
    

}

    
    