.box{
    height: 400px;
    width: 160px;
    margin: 20px;

    padding: 15px;
    color: black;
    display: inline-block;
    
    
}

.container{
    height: 400px;
    width: 700px;
    border: solid black;
    margin-left: 100px;
    
}
.box1{
    background-color: pink;
    height: 200px ;
    display: inline-block;
    margin-top: 80px;
    
}
.box2{
    background-color: whitesmoke;
    height: 200px ;
    display: inline-block;
}
.box3{
    background-color: red;
    height: 200px ;
    display: inline-block;
}
